<h1>Editing Book</h1>
<% if @book.errors.any? %>
<section>
  <div class="error-message">
  <% if @book.errors.count ==1 %>
         <%= @book.errors.count %> error prohibited this book from being saved:
    <% else %>
         <%= @book.errors.count %> errors prphibited this book from being saved:
  <% end %>
  </div>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </section>
<% end %>

<%= form_with model: @book do |f| %>
  <h5>Title
    <div><%= f.text_field :title %></div>
  </h5>
  <h5>Body
    <div><%= f.text_field :body %></div>
  </h5>
  <div class="edit-submit"><%= f.submit 'Update Book' %></div>
<% end %>

<span>
  <p class="edit-link1"><%= link_to 'Show', book_path(@book.id) %></p>
  <p class="edit-link2"><%= link_to 'Back', books_path %></p>
</span>
